.accordion-button {
  color: black;
  background-color: white !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white !important;
}